<%= form_for @survey, :html => { :class => "form-horizontal survey" } do |f| %>

  <div class="form-group">
    <%= f.label :survey_ref, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :survey_ref, :class => 'form-control' %>
      <%=f.error_span(:survey_ref) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class='input-group'>
        <%= f.text_field :date, :class => 'form-control date_select' %>        
        <%=f.error_span(:date) %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :district, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:district, ["Ampara", "Anuradhapura", "Badulla", "Batticaloa", "Colombo", "Galle", "Gampaha""Hambantota", "Jaffna", "Kalutara""Kandy", "Kegalle""Kilinochchi", "Kurunegala", "Mannar", "Matale", "Matara", "Moneragala", "Mullaitivu", "Nuwara Eliya", "Polonnaruwa""Puttalam", "Ratnapura", "Trincomalee", "Vavuniya"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {selected: @survey.district || 'colombo'}, {:class => 'form-control'}) %>
        <%=f.error_span(:district) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :from, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :from, :class => 'form-control' %>
      <%=f.error_span(:from) %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :to, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :to, :class => 'form-control' %>
      <%=f.error_span(:to) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :road_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :road_name, :class => 'form-control' %>
      <%=f.error_span(:road_name) %>
    </div>    
  </div>  
  <div class="form-group">
    <%= f.label :latitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :latitude, :class => 'form-control' %>
      <%=f.error_span(:latitude) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :longitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :longitude, :class => 'form-control' %>
      <%=f.error_span(:longitude) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :road_class, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:road_class, ["AA", "AB", "AC", "B", "C", "D", "E", "Other"] , {selected: @survey.road_class || "AA"}, {:class => 'form-control'}) %>
      <%=f.error_span(:road_class) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :road_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:road_type, ["Undivided", "Divided", "Median seperated", "One way"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {selected: @survey.road_type || "divided"}, {:class => 'form-control'}) %>
      <%=f.error_span(:road_type) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :no_of_lanes, "No of lanes", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:no_of_lanes, [1, 2, 3, 4] , {}, {:class => 'form-control'}) %>
      <%=f.error_span(:no_of_lanes) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :lane_width, "Lane width (m)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lane_width, :class => 'form-control' %>
      <%=f.error_span(:lane_width) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :shoulder_type, "Shoulder type", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:shoulder_type, ["Curb", "Shoulder"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:shoulder_type) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :shoulder_width, "Shoulder width (m)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :shoulder_width, :class => 'form-control' %>
      <%=f.error_span(:shoulder_width) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :pavement_condition, "Pavement condition", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:pavement_condition, ["Good", "Average", "Poor"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:pavement_condition) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :built_environment, "Built environment", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:built_environment, ["Urban", "Sub urban", "Rural"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:built_environment) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :row, "ROW", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :row, :class => 'form-control' %>
      <%=f.error_span(:row) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :speed_limit, "Speed limit (km/h)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:speed_limit, [70, 60, 50, 40] , {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:speed_limit) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :ffs, "FFS", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ffs, :class => 'form-control' %>
      <%=f.error_span(:ffs) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :traffic_composition, "Traffic composition", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:traffic_composition, ["Type 1", "Type 2", "Type 3", "Type 4", "Type 5"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:traffic_composition) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :access_point_density, "Access point density", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:access_point_density, ["High", "Medium", "Low"].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:access_point_density) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :vehicle_stat, "Vehicle stats", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :vehicle_stat, :class => 'form-control' %>
      <%=f.error_span(:vehicle_stat) %>
    </div>    
  </div>

  <br>
  <h4>Direction 1</h4>    
  <div class="form-group">
    <%= f.label :up_grade, "Grade", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:up_grade, ['High +', 'Low +', 'High -', 'Low -' ].collect { |o| 
        [ o, o.downcase.tr(" ", "_") ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:up_grade) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :up_distance_to_junction, "Distance to junction (km)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :up_distance_to_junction, :class => 'form-control' %>
      <%=f.error_span(:up_distance_to_junction) %>
    </div>    
  </div>  
  <div class="form-group">
    <%= f.label :up_junction_type, "Junction type", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:up_junction_type, ['3 Way', '4 Way', '4 Way with flyover', 'Interchange', 'Roundabout' ].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:up_junction_type) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :up_signalized, "Signalized", :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">      
      <%= f.select(:up_signalized, [[ "Yes", true], ["No", false]] , {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:up_signalized) %>
    </div>    
  </div>

  <br>
  <h4>Direction 2</h4>
  <div class="form-group">
    <%= f.label :down_grade, "Grade", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:down_grade, ['High +', 'Low +', 'High -', 'Low -' ].collect { |o| 
        [ o, o.downcase.tr(" ", "_") ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%= f.error_span(:down_grade) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :down_distance_to_junction, "Distance to junction (km)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :down_distance_to_junction, :class => 'form-control' %>
      <%=f.error_span(:down_distance_to_junction) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :down_junction_type, "Junction type", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">      
      <%= f.select(:down_junction_type, ['3 Way', '4 Way', '4 Way with flyover', 'Interchange', 'Roundabout' ].collect { |o| 
        [ o, o.parameterize.underscore ] }, {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:down_junction_type) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :down_signalized, "Signalized", :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">     
      <%= f.select(:down_signalized, [[ "Yes", true], ["No", false]] , {include_blank: true}, {:class => 'form-control'}) %>
      <%=f.error_span(:down_signalized) %>
    </div>    
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                surveys_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
